* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px;
}

header,
footer {
  background-color: rgb(12, 73, 60);
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: wheat;
}
section {
  display: flex;
  height: 90%;
  gap: 20px;
}

aside {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 40px;
  border: 8px solid rgb(22, 87, 22);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: #b993d6; 
  background: -webkit-linear-gradient(
    to right,
    #8ca6db,
    #b993d6
  ); 
  background: linear-gradient(
    to right,
    #8ca6db,
    #b993d6
  ); 
}
div ::first-letter {
  color: red;
  background-color: rgb(255, 255, 255);
}

article {
  width: 80%;
  background: #654ea3;
  background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);
  background: linear-gradient(to right, #eaafc8, #654ea3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  flex-wrap: wrap;
}
article p {
  margin-bottom: 20px;
}
.img-container {
  width: 100%;
  display: flex;
  gap: 40px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

img {
  height: 300px;
  width: 300px;
  margin-bottom: 20px;
  padding: 20px;
  border: 4px solid white;
  border-radius: 4%;
}



/* ---------------extra */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -200px;
  left: 20%;
  /* transform: rotate(90deg); */
  
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  height: 200px;
  width: 200px;
  border-radius: 100%;
}