* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
}

.left {
  /* width: 40%; */
}
.right {
  width: 60%;
}
img {
  height: 100vh;
  width: 100%;
}
.one,
.two,
.three {
  display: flex;
  height: 33.3%;
  width: 100%;
}
/* 
.one {
    background-color: aquamarine;
}
.two {
    background-color: rgb(214, 228, 28);
}
.three {
    background-color: rgb(228, 165, 28);
} */

.one .box-1 {
  width: 50%;
  background-image: linear-gradient(
    90deg,
    rgb(79, 52, 177),
    yellow,
    rgb(49, 209, 49)
  );
}
.one .box-2 {
  width: 50%;
  background-image: repeating-linear-gradient(
    90deg,
    rgb(188, 219, 102),
    rgb(0, 174, 255) 10%,
    rgb(81, 0, 128) 20%
  );
}
.two .box-3 {
  width: 50%;

  background-image: repeating-radial-gradient(
    rgb(218, 54, 218),
    rgb(233, 233, 181) 20%,
    rgb(8, 41, 8) 15%
  );
}
.two .box-4 {
  width: 50%;

  background-image: radial-gradient(#e6b9a6 5%, #eb3678 15%, #134b70 70%);
}
.three .box-5 {
  width: 50%;

  background-image: repeating-conic-gradient(rgb(70, 30, 216) 10%, yellow 20%);
}
.three .box-6 {
  width: 50%;

  background-image: conic-gradient(
    red,
    rgb(223, 223, 27),
    green,
    rgb(31, 170, 224),
    black
  );
}
